<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean id="financeProcessor" class="com.yile.church.common.processor.FinanceProcessor">
        <property name="openIds">
            <list>
                <value>xxx</value>
                <value>yyy</value>
            </list>
        </property>
    </bean>

    <bean id="wheatherProcessor" class="com.yile.church.common.processor.WheatherProcessor">
        <property name="citySearchUrl" value="https://tianqi.moji.com/api/citysearch/"/>
        <property name="wheatherSearchUrl" value="https://tianqi.moji.com/weather/china/"/>
    </bean>

    <bean id="simpleProcessorRouter" class="com.yile.church.common.router.ProcessorRouter">
        <property name="processors">
            <map>
                <entry key="财务" value-ref="financeProcessor" />
                <entry key="天气" value-ref="wheatherProcessor" />
            </map>
        </property>
    </bean>

    <bean id="voiceEngine" class="com.yile.church.common.engine.VoiceEngine">
        <property name="processorRouter" ref="simpleProcessorRouter"/>
    </bean>

</beans>